@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header {
    background-image: linear-gradient(to right, #FF7722, white, #138808);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h1 {
    font-size: xx-large;
}
.navbar li {
    padding-inline: 5px;
    display: inline;
    font-size: larger;
}
.navbar a:hover {
    color: #770101;
}
.nav {
    float: right;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
a {
    color: black;
    text-decoration: none;
}
div.img1 {
    width: 50px;
    height: auto;
    border-radius: 10px;
}
img {width: 100%;}
main {
    margin-top: 15px;
}
.home {
    text-align: center;
}

.img2 img{
    width: 380px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
}
.yr {
    font-size: x-large;
    font-weight: 800;
    font-stretch:wider;
    
}
.p1 {
    text-align: justify;
    padding-inline: 10rem;
    margin-inline: 10rem;
    border: dashed 3px #FF7722;
    margin-block: 2rem;
}
.hr1 {
    width: 30%;
    border: 1px solid #7a7a7a;
}

footer {
    height: 80px;
    background-color: rgb(0, 30, 69);
    color: white;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(255, 255, 255);
    text-decoration-line:underline;
}
.circles-1 {
    position: absolute;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    z-index: -2;
}
.circles-1::before {
    content: '';
    transform:translateY(-10%);
    position:absolute;
    height:100%;
    width:100%;
    border-radius: 50%;
    background-color: #ff772235;
}
.circles-2 {
    position: absolute;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    z-index: -2;
    top: 37vh;
    right: 20vh;
}
.circles-2::before {
    content: '';
    /* transform:translateY(0%); */
    /* transform:translateX(450%); */
    position:absolute;
    height:100%;
    width:100%;
    border-radius: 50%;
    background-color: #13880849;
}
.tag1{
    position: absolute;
    left: 1vw;
    top: 11vw;
    z-index: -1;
}
.tag2 {
    position: absolute;
    left: 68vw;
    top: 18vw;
    z-index: -1;
}
.tag1, .tag2 p{
    font-size: 50px;
    font-family: 'Merriweather', serif;
    opacity: 30%;
}
